<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/public/stylesheets/materialize.min.css" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-sclae=1.0"/>
</head>
<body>
    <h1>Hello Everyone!!</h1>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"/>
    <script type="text/javascript" src="/public/javascripts/materialize.min.js"/>
</body>
</html>

